## RHEL 7.7 Kickstart Server Hardening Script
## Copyright (C) 2017 Puji Riawan
## riawan.explore@gmail.com
##############################################################################

# For text based installation
text


##################### CIS  System authorization information
auth --enableshadow --passalgo=sha512

# Use network installation
# Note: Booting from pxe image does not support https for url
# centos.org does not support https, but other mirrors do
cdrom

# Run the Setup Agent on first boot
firstboot --enable

# System language
lang en_US.UTF-8

# Keyboard layouts 
keyboard us

# Network information
network --bootprot static --ip 192.168.234.77 --netmask 255.255.255.128 --gateway 192.168.234.126 --nameserver 192.168.234.74 --device ens192 --activate
#network --bootprot static --ip 172.19.151.34 --netmask 255.255.255.240 --gateway 172.19.151.46 --nameserver 172.16.1.114 --device ens224 --activate

# Root password
# Plaintext password is: server 
rootpw --iscrypted $6$rhel6usgcb$aS6oPGXcPKp3OtFArSrhRwu6sN8q2.yEGY7AIwDOQd23YCtiz9c5mXbid1BzX9bmXTEZi.hCzTEXFosVBI5ng0

bootloader --location=mbr --boot-drive=sda --append="crashkernel=auto audit=1" <%= grub_pass %> --iscrypted --password=grub.pbkdf2.sha512.10000.7E3231227F6E562B45A3B96678DAF8222C5EFF36DC357ADA8D488D0B80512A162F9379AAF04723F3A412BF3709AB3B71F5008D9A74FE7A6B4BB883D60A2B0F9E.B00F968BDE6B40F68E80B075E0FDDED5B4AB6B8EE0F27C6411465A5EEAA85259EF9886874E679D1C36737127F47961B3F764535DC137919246C74B5F27BCF5B5

# Partition clearing information
ignoredisk --only-use=sda
zerombr
clearpart --all --initlabel --drives=sda


# Dalam ruang lingkup production ukuran dari /boot harus minimal 1 GB 
# Total Disk yang dialokasikan untuk instalasi RHEL 7.7 ini adalah 60 GB
part /boot --fstype=xfs --asprimary --size=1024 --fsoptions="defaults,nodev"
# Partition Size is 59 GB 
part pv.sit  --grow --size=60416
volgroup rhel --pesize=4096 pv.sit

############# 33 GB /
logvol / --fstype="xfs"  --name=lv_root --vgname=rhel --size=33792

####### SWAP 8 GB 
logvol swap  --name=lv_swap --vgname=rhel --size=8192

# CIS 1.1.13 - 1.1.14 || Ensure /home 18 GB Located On Separate Partition
logvol /home  --fstype="xfs"  --size=18432 --name=lv_home --vgname=rhel --fsoptions="defaults,nodev"

############################# NTP ###############################

# CCE-27278-1 Specify a Remote NTP Server
# CIS 3.6 Configure Network Time Protocol
# System timezone
timezone Asia/Jakarta --ntpservers=192.168.234.74

############################# SELINUX ###############################

# State of SELinux on the installed system (optional)
# Defaults to enforcing
selinux --enforcing

############################# FIREWALL ###############################
# CIS 1.6.1.2 Ensure the SELinux state is enforcing (Scored) 

# Configure firewall settings for the system (optional)
# --enabled	reject incoming connections that are not in response to outbound requests
# --ssh		allow sshd service through the firewall
# firewall --enabled --ssh
firewall --enabled --port=22:tcp --ssh

########################### Disable Unnececery Services #####################33
# CIS 1.1.22 Disable Automounting (Scored)
services --disabled=autofs

############################# Installation packages ###############################

# Packages selection
%packages 
@^minimal
################################### 3.4.1 Ensure TCP Wrappers is installed (Scored) 
tcp_wrappers
################################### CIS 4.2.3 Ensure rsyslog or syslog-ng is installed (Scored) 
rsyslog
################################### CIS 1.3.1 Ensure AIDE is installed (Scored)  
aide
gdm
fuse-libs 
perl
open-vm-tools

# REMOVE PACKAGES
######################## CIS 1.6.1.4 Ensure SETroubleshoot is not installed (Scored) 
-setroubleshoot
# Remove unnececey package from @Core
-abrt*
-avahi*
-ivtv-firmware
-aic94xx-firmware
-alsa-firmware
-bfa-firmware
-dracut-config-rescue
-ivtv-firmware
-iwl1000-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-kernel-tools
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
-microcode_ctl
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware

################################# CIS 2.2.2 Ensure X Window System is not installed (Scored) 
-xorg-x11*
################################ CIS 2.2.15 Ensure mail transfer agent is configured for local-only mode (Scored)
-postfix
################################ CIS 2.3.1 Ensure NIS Client is not installed (Scored)
-ypbind
################################ CIS 2.3.2 Ensure RSH Client is not installed (Scored)
-rsh
################################ CIS 2.3.3 Ensure Talk Client is not installed (Scored)
-talk
################################ CIS 2.3.2 Ensure Telnet Client is not installed (Scored)
-telnet
################################ CIS 2.3.2 Ensure Ldap Client is not installed (Scored)
-openldap-clients
%end

%post --interpreter=/bin/bash --log=/root/ks-postinstall.log
systemctl start vmtoolsd 
systemctl enable vmtoolsd
%end
reboot --eject
